/* imported fonts */

@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('img/glyphicons/glyphicons');


/* custom variables */

// ----- media queries:
$min-break-small: "only screen and (min-width : 576px)";
$min-break-medium: "only screen and (min-width : 768px)";
$min-break-large: "only screen and (min-width : 992px)";
$min-break-xlarge: "only screen and (min-width : 1200px)";

$max-break-small: "only screen and (max-width : 576px)";

/* custom mixins */

// mixins

@mixin flex-row($horizontal,$vertical) {
  display: flex;
  flex-direction: row;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin flex-column($horizontal,$vertical) {
  display: flex;
  flex-direction: column;
  align-items: $horizontal;
  justify-content: $vertical;
}

@mixin bullet-style {  /* li styles : remove bullet-points */
  list-style-type: none;
  padding: 0 10px;
}

@mixin hyperlink($color) { /* a href styles formatting */
  text-decoration: none;
  color: $color;
}

@mixin width($columns) { /* format card grid size */
  width: calc(100% / $columns);
}

@mixin background($url, $size, $repeat) { /* background images */
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
}

@mixin parallax ($url, $height) {

  /* Image used */
  background-image: url($url);

  /* Set a specific height */
  height: $height;

  /* To create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* properties */

.branding {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: -4px;
  margin: 1em;
}

body {
  @include flex-column(center,center);
  h1,h2 {
    @include flex-column(center,center);
    text-transform: uppercase;
    margin: 2em 0;
  }
  h2 {
    letter-spacing: -2px;
    font-weight: 400;
    font-size: 2em;
  }
  .logos {
    max-width: 800px;
    @include flex-row(center,center);
    flex-wrap: wrap;

    div {
      width: calc(98% / 3) ;
      border: 1px solid grey;
      min-height: 250px;
    @include flex-row(center,center);
      img {
        max-height: 250px;
        overflow: hidden;
        width: 80%;
        height:100%;
      }
    }
  }

  .collection {
    @include flex-row(center,center);
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    img {
      margin: 1.5em 0;
    }
    :nth-last-child(-n + 4) {
      margin: 0.2em 0;
    }
  }
}

main{
  a {
    color: black;
    p {
      font-size: 0.85em;
      text-transform: uppercase;
      text-align: center;
      margin: 3em 0;

    }
  }
  .community {
    width: 100%;
    @include flex-column(center,center);
    :first-child{
      a {
        width: 100%;
        text-decoration: none;
        p {
          border-bottom: 2px black solid;
          text-transform: none;
          padding: 0.5em 4em;
          span {
            font-weight: 700;
          }
        }
      }
    }
    .button{
      margin: 3em;
      @include hyperlink(black);
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.8em;
      border: 1px solid black;
      padding: 0.6em 4em;
      &:hover, &:active {
        background-color: black;
        color: white;
      }
    }
  }
}

footer {
  @include flex-column(center, center);
  // flex-wrap: wrap;
  font-size: 0.8em;
  font-weight: 700;
  width: 800px;
  .icons{
    @include flex-row(space-between, center);
    margin: 1em 2em;
    aside {
      text-transform: uppercase;
      @include flex-column(center, center);
      img {
        width: 100px;
        height:100px;
      }
    }
  }
  .branding {
    color: #727171;
    font-size: 3em;
  }
  .social {
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }
  }
  p{
    max-width: 500px;
    font-size:11px;
    color:#727171;
    padding-top: 30px;
    line-height: 14px;
    font-weight: 400;
  }

}



// example layout
